{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row">
        {% include 'dashboard/menu.html' %}
        <div class="col-sm-12 col-md-9 user-board">
            <h1>Välkommen, {{ request.user.profile.förnamn }}!</h1>
            <h1>Ta bort Gymnast</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="gymnast-select">Select Gymnast to Delete:</label>
                    <select class="form-control" id="gymnast-select" name="gymnast">
                        {% for gymnast in gymnasts %}
                            <option value="{{ gymnast.id }}">{{ gymnast.förnamn }} {{ gymnast.efternamn }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-danger">Delete Gymnast</button>
                <a href="{% url 'profile' request.user.pk %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
