{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row">
        {% include 'dashboard/menu.html' %}
        <div class="col-sm-12 col-md-9 user-board">
            <h1>Välkommen, {{ request.user.profile.förnamn }}!</h1>
            <h1>Byt grupp</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Move Gymnast</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
