{% extends 'base.html' %}

{% block content %}

<!-- Content -->
<div class="container text-center ">
    <div class="row">
        <div class="col-sm-12">
            <h1>Kalender</h1>
            <iframe
                src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FStockholm&bgcolor=%23ffffff&src=ZTg4ZjU3M2M3MTRjNWQwZmEwMzc5MzI0Zjg1YmUzMGI1YzFmNWI5MTdjODZhYjg0MDA3NDU0Y2Q1ZjNhZWZhMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23795548"
                style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>

{% endblock %}