{% extends 'base.html' %}

{% block content %}
{% load static %} 

 <!-- Content -->
 <div class="container text-center ">
    <div class="row photos">
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/louise.webp' %}" width="40%">
            <h1>Louise Larsson</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Tränare: Bamse, Lejonen, Parkour, Bävrarna & Vuxengympa
                <br>
                Född: 1990
                <br>
                Styrelsen: Kassör
                <br>
                Utbildning: Bamsegympa, Truppgymnastik & Parkour
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/daniel.webp' %}" width="45%">
            <h1>Daniel Eriksson</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Tränare: Bamse, Lejonen, Parkour, Bävrarna & Vuxengympa
                <br>
                Född: 1987
                <br>
                Styrelsen: Suppliant & Webbansvarig
                <br>
                Utbildning: Truppgymnastik A och Redskap B
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/isabell.webp' %}" width="40%">
            <h1>Isabell Fryklund</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Tränare: Brummelisa, Delfinerna, Fiskarna & Grodorna
                <br>
                Född: 2005
                <br>
                Styrelsen: Administratör Medlemmar
                <br>
                Utbildning: Bamsegympa & Parkour
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/olivia.webp' %}" width="45%">
            <h1>Olivia Asplund</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Tränare: Brummelisa, Delfinerna, Fiskarna & Grodorna
                <br>
                Född: 2000
                <br>
                Styrelsen: Suppliant
                <br>
                Utbildning: Bamsegympa & Parkour
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/sandra.webp' %}" width="40%">
            <h1>Sandra Wirvén</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Tränare: Bävrarna
                <br>
                Född: 1981
                <br>
                Styrelsen: Ordförande
                <br>
                Utbildning: Parkour & Truppgymnastik
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/KG_logo_black-4.webp' %}" width="60%">
            <h1>Hilma Zetterlund</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Tränare: 
                <br>
                Född: 
                <br>
                Styrelsen: 
                <br>
                Utbildning: 
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/klara.webp' %}" width="45%">
            <h1>Klara Johansson</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Hjälp Tränare: Delfinerna & Fiskarna
                <br>
                Född: 2009
                <br>
                Utbildning:
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/oliviaa.webp' %}" width="45%">
            <h1>Olivia Andersson</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Hjälp Tränare: Delfinerna & Fiskarna
                <br>
                Född: 2012
                <br>
                Utbildning:
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/oscar.webp' %}" width="45%">
            <h1>Oscar Ulfsparre</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Hjälp Tränare: Lejonen & Parkour
                <br>
                Född: 2012
                <br>
                Utbildning:
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="{% static 'images/KG_logo_black-4.webp' %}" width="60%">
            <h1>Stina Wirvén</h1>
            <h2>Jag tycker gymnastik är roligt</h2>
            <p>
                Hjälp Tränare: Fiskarna & Grodorna
                <br>
                Född: 2013
                <br>
                Utbildning:
            </p>
            <hr>
        </div>
    </div>
</div>

{% endblock %}