{% extends 'base.html' %}

{% block content %}

 <!-- Content -->
 <div class="container text-center ">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1>Priser & Grupper</h1>
            <p>Gymnastik 1 träning i veckan: 600kr / termin (10 ggr)</p>
            <hr>
            <p>Gymnastik 2 träningar i veckan: 850kr / termin (20 ggr)</p>
            <hr>
            <p>Parkour: 600kr / termin (10 ggr)</p>
            <hr>
            <p>Vuxen-gympa: 600kr / termin (10 ggr)</p>
            <hr>
            <p>Försäkring ingår i alla grupper.</p>
            <p>Våra avgifter och eventuellt andra avgifter betalas till föreningens konto via:</p>
            <p>Swish - 123 501 04 59
                <br>
                eller
                <br>
                Bankgiro: 5162-6828
            </p>
            <p>Viktigt att det i alla betalningar anges namn och grupp på deltagaren.</p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Bamse</h1>
            <p>Födda: 21
                <br>
                Dag: Söndag
                <br>
                Tid: 12:30-13:30
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Louise & Daniel
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Brummelisa</h1>
            <p>
                Födda: 20
                <br>
                Dag: Söndag
                <br>
                Tid: 12:30-13:30
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Isabell & Olivia
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Lejonen</h1>
            <p>Födda: 19
                <br>
                Dag: Söndag
                <br>
                Tid: 13:30-14:30
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Louise & Daniel
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Delfinerna</h1>
            <p>
                Födda: 18
                <br>
                Dag: Söndag
                <br>
                Tid: 13:30-14:30
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Isabell & Olivia
                <hr>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Fiskarna</h1>
            <p>
                Födda: 17
                <br>
                Dag: Söndag
                <br>
                Tid: 15:00-16:00
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Isabell & Olivia
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Parkour</h1>
            <p>
                Födda: 17
                <br>
                Dag: Söndag
                <br>
                Tid: 15:00-16:00
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Louise & Daniel
            </p>
            <hr>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Grodorna</h1>
            <p>
                Träning 1
                <br>
                Ålder: 6-7
                <br>
                Dag: Onsdag
                <br>
                Tid: 17:30-18:30
                <br>
                Plats: Tolitaskolan
                <br>
                Ledare: Isabell, Louise & Daniel
            </p>
            <p>
                Träning 2
                <br>
                Dag: Söndag
                <br>
                Tid: 16:00-17:30
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Isabell, Olivia
                <hr>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Bävrarna</h1>
            <p>
                Träning 1
                <br>
                Ålder: 9+
                <br>
                Dag: Onsdag
                <br>
                Tid: 17:30-18:30
                <br>
                Plats: Tolitaskolan
                <br>
                Ledare: Isabell, Louise & Daniel
            </p>
            <p>
                Träning 2
                <br>
                Dag: Söndag
                <br>
                Tid: 16:00-17:30
                <br>
                Plats: Vikstahallen
                <br>
                Ledare: Louise, Sandra & Daniel
                <hr>
            </p>
        </div>
    </div>
</div>

{% endblock %}