@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {

    /* Fonts */
    --main: 'Oswald', 'sans-serif';

    /* Colours */
    --ksg: #01386A;
    --background: #F4F6F6;
    --white: #fff;

    /* Effects */
    --boxshadow: 3px 3px 3px #1bace4;
    --textshadow: 1px 1px 2px black, 0 0 25px white, 1px 1px 10px #e41b97;
    --border: black;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Osawld', sans-serif;
}

p, a {
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Container */

.container h1 {
    font-family: 'Osawld', sans-serif;
    background-color: #1bace4;
    box-shadow: 5px 5px 5px #01386A;
    margin-top: 10px;
    font-size: 180%;
    padding: 2px;
}



/* Calender */

iframe {
    width: 90vw;
    height: 90vw;
	max-width: 800px;
	max-height: 600px;
}

/* Footer */
footer {
    background-color: var(--ksg);
    color: var(--white);
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: var(--border);
}

.footer i {
    font-size: 200%;
    color: white;
    margin: 10px;
}

/* Header */

.navbar {
    font-family: 'Osawld', sans-serif;
    background-color: var(--ksg);
    box-shadow: var(--boxshadow);
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.navbar-brand {
    font-size: 180%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 1px 1px 10px #e41b97;
    text-transform: uppercase;
    margin-left: 20px;
}

a.nav-link {
    font-family: 'Osawld', sans-serif;
    color: var(--white);
    font-size: 140%;
}

.navbar-toggler {
	background-color: white;
}

.navbar-toggler-icon {
	background-color: white;
}


/* form */

/* Style the form */
.form {
    max-width: 400px;
    margin: 0 auto;
}

/* Style form fields */
.form-group {
    margin-bottom: 20px;
}

/* Style form inputs */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the link to the login page */
.mt-3 a {
    color: #007bff;
    text-decoration: none;
}

.mt-3 a:hover {
    text-decoration: underline;
}

/* User Menu */

.user-board p {
    font-family: 'Osawld', sans-serif;
    margin-top: 30px;
    font-size: 160%;
    text-align: left;
}

.user-menu .nav-link {
    font-family: 'Osawld', sans-serif;
    color: black;
    text-align: left;
    font-size: 160%;
    margin-top: 5px;
}