{% load static %}
{% load widget_tweaks %}
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg">
        <!-- Logo -->
        <img src="{% static 'images/KGlogga.webp' %}" alt="Your Logo" width="100px" height="100px">
        <a class="navbar-brand" href="{% url 'home' %}">Kils Gymnaster</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center ml-auto">
                <li class="nav-item active">
                    <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Hem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'traning' %}active{% endif %}" href="{% url 'traning' %}">Träning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'om' %}active{% endif %}" href="{% url 'om' %}">Om oss</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'calender' %}active{% endif %}" href="{% url 'calender' %}">Kalender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.tifosi.se/kilsgymnaster" target="_blank">Webbshop</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' request.user.id %}">Min Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logga Ut</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Logga In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Registrera dig</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>