<!-- menu.html -->
<div class="col-sm-12 col-md-3 user-menu">
    <h1>Profil Menu</h1>
    <ul class="navbar-nav text-center ml-auto">
        <li class="nav-item active">
            <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' request.user.id %}">Hem</a>
        </li>
        <hr>
        <li class="nav-item">
            {% if request.user.profile %}
                <a class="nav-link {% if url_name == 'edit_profile' %}active{% endif %}" href="{% url 'edit_profile' request.user.id %}">Redigera Profil</a>
            {% endif %}
        </li>
        <hr>
        <li class="nav-item">
            {% if request.user.gymnast_profile.all %}
                <a class="nav-link {% if url_name == 'view_gymnast' %}active{% endif %}" href="{% url 'view_gymnast' request.user.gymnast_profile.first.id %}">Visa Gymnast</a>
            {% else %}
                <a class="nav-link {% if url_name == 'add_gymnast' %}active{% endif %}" href="{% url 'add_gymnast' %}">Lägg till Gymnast</a>
            {% endif %}
        </li>
        {% if user.is_staff %}
            <hr>
            <li class="nav-item">
                {% if request.user.gymnast_profile.all %}
                    <a class="nav-link" href="{% url 'move_gymnast' request.user.gymnast_profile.first.id %}">Flytta Gymnast</a>
                {% else %}
                    <a class="nav-link disabled" href="#">Flytta Gymnast</a>
                {% endif %}
            </li>
            <hr>
            <li class="nav-item">
                {% if request.user.gymnast_profile.all %}
                    <a class="nav-link" href="{% url 'delete_gymnast' request.user.gymnast_profile.first.id %}">Ta bort Gymnast</a>
                {% else %}
                    <a class="nav-link disabled" href="#">Ta bort Gymnast</a>
                {% endif %}
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a>
            </li>
        {% endif %}
    </ul>
</div>
