{% extends 'base.html' %} 
{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm12 col-md-3 user-menu">
      <h1>Profil Menu</h1>
      <h3>Email: {{ request.user.email }}</h3>
      <ul class="navbar-nav text-center ml-auto">
        <li class="nav-item active">
          <a class="nav-link {% if url_name == 'profile' %}active{% endif %}" href="{% url 'profile' request.user.id %}">Hem</a>
        </li>
        <hr>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'editProfile' %}active{% endif %}" href="#">Redigera</a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'addGymnast' %}active{% endif %}" href="#" >Lägg till Gymnast</a>
          </li>
        <hr>
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="#">Träningar</a>
          </li>
        <hr>
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="#">Närvaro</a>
          </li>
          {% if user.is_staff %}
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a>
          </li>
          {% endif %}
      </ul>
    </div>
    <div class="col-sm12 col-md-9 user-board">
      <h1>Welcome, {{ request.user.username }}!</h1>
        <p>Gick Med: {{ profile.user.date_joined|date:'d M Y' }}</p>
        <p>Förnamn: {{ profile.förnamn}}</p>
        <p>Efternamn: {{ profile.efternamn}}</p>
        <p>Adress: {{ profile.adress}}</p>
        <p>Telefonnummer: {{ profile.telefon}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
