{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>

    <!-- CSS Link -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- Hover CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">

    <!-- Title -->
    <title>Kils Gymnaster {% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'includes/header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script src="https://kit.fontawesome.com/1b4f7b5728.js" crossorigin="anonymous"></script>
    <script>
        var loginUrl = "{% url 'account_login' %}";
    </script>
    <script src="{% static 'js/modal_ajax.js' %}"></script>

   
</body>

</html>
